@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,600&display=swap');

:root {
    background: hsl(204 100% 5%);
    font-family: Poppins;
    color: rgb(255, 255, 255);
    text-align: center;
}

main {
    background-image: linear-gradient(90deg,#33e3f0,#ee84e9,#33e3f0,#ee84e9);
    background-size: 300% 100%;
    animation: animateBg 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

@keyframes animateBg {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 100%; }
}

body, html {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

h1 {
    font-size: 72pt;
    transition: text-shadow 1s;
}

h1:hover {
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.692);
}

p {
    font-size: 16pt;
    font-weight: 300;
}

#tribute-info {
    padding-bottom: 5%;
}

h2 {
    font-size: 16px;
    font-weight: 100;
    margin-top: -5px;
}

img {
    max-width: 50px;
    max-height: 50px;
    color:rgb(255, 255, 255);
}

svg {
    fill: white;
}

#image {
    max-width: 100%;
}
